<?xml version="1.0" encoding="utf-8"?>

<!-- Per ulteriori informazioni sull'utilizzo della trasformazione Web.config, visitare http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio riportato di seguito  il trasformatore "SetAttributes" modificherà il valore di
    "connectionString" per utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match" 
    troverà un attributo "name" con il valore di "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Nell'esempio riportato di seguito il trasformatore  "Replace" sostituirà l'intera sezione
      <customErrors> del file Web.config.
      Poiché esiste solo una sezione customErrors nel nodo
      <system.web>, non è necessario utilizzare l'attributo"xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
